{% extends 'index.html' %}
{% block head %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title>RNAcomp2D</title>
<link rel="stylesheet" href={{ url_for('static', filename='style.css') }} type="text/css">
<!-- This works, but is hardcoded
<link rel="stylesheet" href="/myapp/static/style.css" type="text/css">
-->
<link rel="shortcut icon" href="#">
{% endblock %}

{% block body %}
<!-- Brief description of the application -->
<h1 class="title">RNAcomp2D</h1>
<p class="description"> 
This tool can compare RNA secondary structures from several computational methods. 
</p>
<p class="description">
Please enter one sequence by typing it into the input box or by uploading a file in 
FASTA format or searching it in RNAcentral. 
</p>
<p class="description">
Then select the methods to compare. You can edit the parameters for each method by 
using the corresponding menu at the right of each method.
</p>
<br />
<p class="description">
To test the tool, you can use one of the following examples:
</p>
<ul class="examples">
	<li class="example">AACCGGGUCAGGUCCGGAAGGAAGCAGCCCUAA</li>
	<li class="example">GGGCUAUUAGCUCAGUUGGUUAGAGCGCACCCCUGAUAAGGGUGAGGUCGCUGAUUCGAAUUCAGCAUAGCCCA</li>
	<li class="example">AUCCUUUUGUAGUUCAUGGGCAUGAUGAUGGGGUGUUCCUGAGCAUGCGUAAGAUGUGCCGCCCUCAAAUCUUGUCAAGAUGUUGGCACAUUACCCAUCUGACA</li>
</ul>
<form action={{ url_for('show_results') }} method="POST" accept-charset="utf-8" 
	id="myForm">
	<fieldset>
		<!-- Fieldset for sequence input -->
		<legend>Sequence</legend>
		<div id="seq_input_label_error">
		<label for="seq_string">Paste or type your sequence here:</label>
		<div id="error-sequence" style="display: none"></div></div>
		<textarea name="seq_string" id="seq_string" rows=3 
			value=""></textarea><br />
		Or upload a FASTA format file:
		<input type="file" name="seq_file" id="seq_file" 
		accept=".fasta,.txt"><div id="error-file" style="display: none"></div>
		<div id="rnacentral_button_container">
			Or select one from RNAcentral database:
			<button id="rnacentral_button">Browse</button>
			<div id="rnacentral_sequence">
				<div id="rnacentral_sequence_label" 
					hidden>Sequence selected:</div>
				<div id="rnacentral_sequence_id"></div></div>
		</div>
		<dialog id="rnacentral_dialog" class="hidden">
			<div id="rnacentral_dialog_content"></div>
			<div id="rnacentral_dialog_buttons">
				<div id="dialog_nothing_selected_error" hidden>
					Please select a result.
				</div>
				<button id="dialog_cancel_button">Cancel</button>
				<button id="dialog_confirm_button">Select</button>
            </div>
		</dialog>
	</fieldset>
	<fieldset id="methods">
		<!-- Fieldset for methods selection -->
		<legend>Methods</legend>
		<div id="method_selector">
			<p>Select methods here:</p>
			<div id="available_methods"></div>
		</div>
		<div id="method_editor" class="hidden" style="display: none">
		</div><div id="error-methods" style="display: none"></div>
	</fieldset>
	<div id="submit_button_container">
		<div id="submit_message" style="display: none"></div>
		<button id="submit_button" type="submit">Submit</button>
	</div>
</form>
<script src={{ url_for('static', filename='src/main.js') }} type="module" defer></script>
{% endblock %}
