{% extends 'index.html' %}
{% block head %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title>RNAcomp2D</title>
<link rel="stylesheet" href={{ url_for('static', filename='style.css') }} type="text/css">
<!-- This works, but is hardcoded
<link rel="stylesheet" href="/myapp/static/style.css" type="text/css">
-->
<link rel="shortcut icon" href="#">
{% endblock %}

{% block body %}
<!-- Brief description of the application -->
<h1 class="title">RNAcomp2D</h1>
<p class="description"> 
This tool can compare RNA secondary structures from several computational methods. 
</p>
<p class="description">
Please enter one sequence by typing it into the input box or by uploading a file in 
FASTA format or searching it in RNAcentral. 
</p>
<p class="description">
Then select the methods to compare. You can edit the parameters for each method by 
using the corresponding menu at the right of each method.
</p>
<br />
<p class="description">
To test the tool, you can use one of the following examples:
</p>
<ul class="examples">
	<li class="example">AACCGGGUCAGGUCCGGAAGGAAGCAGCCCUAA</li>
	<li class="example">GGGCUAUUAGCUCAGUUGGUUAGAGCGCACCCCUGAUAAGGGUGAGGUCGCUGAUUCGAAUUCAGCAUAGCCCA</li>
	<li class="example">AUCCUUUUGUAGUUCAUGGGCAUGAUGAUGGGGUGUUCCUGAGCAUGCGUAAGAUGUGCCGCCCUCAAAUCUUGUCAAGAUGUUGGCACAUUACCCAUCUGACA</li>
</ul>
<form action={{ url_for('show_results') }} method="POST" accept-charset="utf-8" 
	id="myForm">
	<fieldset>
		<!-- Fieldset for sequence input -->
        <!-- Sequence input text area -->
		<legend>Sequence</legend>
		<div id="seq_input_label_error">
		<label for="seq_string">Paste or type your sequence here:</label>
        <button id="clear_sequence" class="secondary small" hidden>Clear sequence</button>
		<div id="error-sequence" style="display: none"></div></div>
		<textarea name="seq_string" id="seq_string" rows=3 
			value=""></textarea><br />
        <!-- Sequence input file -->
		Or upload a FASTA format file:
		<input type="file" name="seq_file" id="seq_file" 
		accept=".fasta,.txt,.fas,.fna,.fa">
        <button id="clear_file" class="secondary small" hidden>Clear file</button>
        <div id="error-file" style="display: none"></div>
        <!-- Sequence input RNACentral -->
		<div id="rnacentral_button_container">
			Or select one from RNAcentral database:
			<button id="rnacentral_button" class="primary_light medium">Browse</button>
			<div id="rnacentral_sequence">
				<div id="rnacentral_sequence_label" 
					hidden>Sequence selected:</div>
				<div id="rnacentral_sequence_id"></div>
            <button id="clear_rnacentral" class="secondary small" hidden>Clear</button></div>
		</div>
        <!-- RNACentral dialog -->
		<dialog id="rnacentral_dialog" class="hidden">
			<div id="rnacentral_dialog_content"></div>
			<div id="rnacentral_dialog_buttons">
                <div id="ebi-search-acknowledgement">
                    Powered by 
                    <a id="ebi-search-link" href="http://www.ebi.ac.uk/ebisearch/"
                      target="_blank" style="display:flex">EBI Search 
                      <div class="external_link"> </div>
                    </a>
                </div>
                <div id="rnacentral_dialog_buttons_container">
                  <div id="dialog_nothing_selected_error" hidden>
                      Please select a result.
                  </div>
                  <button id="dialog_cancel_button" class="secondary medium">Cancel</button>
                  <button id="dialog_confirm_button" class="primary medium">Select</button>
                </div>
            </div>
		</dialog>
	</fieldset>
	<fieldset id="methods">
		<!-- Fieldset for methods selection -->
		<legend>Methods</legend>
		<div id="method_selector">
			<p>Select methods here:</p>
			<div id="available_methods"></div>
		</div>
		<div id="method_editor" class="hidden" style="display: none">
		</div><div id="error-methods" style="display: none"></div>
	</fieldset>
	<div id="submit_button_container">
		<div id="submit_message" style="display: none"></div>
		<button id="submit_button" class="primary large" type="submit">Submit</button>
	</div>
</form>
<script src={{ url_for('static', filename='src/main.js') }} type="module" defer></script>
{% endblock %}
